body{

width:relative;
background-position:relative;
background-attachment:fixed;
background-color: #F0F0F0 ;
}

body.blue{

background-color:#0077b5;

}

h1,h2,h3,h4,h5,h6,p,legend,ul,li,td,nav{

font-family:Roboto;
font-weight: lighter;
color: #404040;
}

.leaf{

width: 256px, collapse;
height: relative;
padding: 15px 15px 15px 15px;
margin: 10px 10px 10px 10px;
background-color: #FFFFFF;
box-shadow:1px 1px 3px 0px;
float: center;
}

.leaf-big{

width:512px;
height : relative;
padding: 15px 15px 15px 15px;
margin: 10px 10px 10px 10px;
background-color: #;
box-shadow:1px 1px 3px 0px;


}

.leaf-huge{

width:1024px;
height : relative;
padding: 15px 15px 15px 15px;
margin: 10px 10px 10px 10px;
background-color: #;
box-shadow:1px 1px 3px 0px;


}

.leaf-small{

width:128px;
height : relative;
padding: 15px 15px 15px 15px;
margin: 10px 10px 10px 10px;
background-color: #;
box-shadow:1px 1px 3px 0px;

}

.leaf-tiny{

width:64px;
height : relative;
padding: 15px 15px 15px 15px;
margin: 10px 10px 10px 10px;
background-color: #;
box-shadow:1px 1px 3px 0px;


}

.teapot{

column-count: 3;
column-gap: 10px;
-webkit-column-count: 3; /* Chrome, Safari, Opera */
-moz-column-count: 3; /* Firefox */
-webkit-column-gap: 10px; /* Chrome, Safari, Opera */
-moz-column-gap: 10px; /* Firefox */
  
}

nav{

top:-15px;
width: 100%;
height:50px;
position:fixed;
background-color:#;
box-shadow: 1px 1px 3px 0px;
padding: 10px ;
float: right;
}

.small{

width:30%;
height:30%;

}

h1,h2,h3,h4,h5,h6,p.brand {

font-family:Roboto;
font-weight:100;
top: 3px;

}

img.img-respond{

height: 50%;
width: 50%;
box-shadow: 1px 1px 3px;
float: center;

}

